
.App {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-top: 1px solid rgb(0, 0, 0);
  border-left: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
  width: 75%;
}

img {
  width: 100%;
  margin-bottom: 10px;
  border-top: 5px solid rgb(0, 0, 0);
  border-bottom: 5px solid rgb(0, 0, 0);
}


.navbar {
  background-color: black;
  width: 100%;
}

#nav-mobile {
  margin-left: 50px;
}

.flexbox-container {
  display: flex;
}

.flexbox-item {
  width: 50%;
  margin: 10px;
  border: 5px solid rgb(0, 0, 0);
}

